<!-- <p>login works!</p>
<button (click)="getData('hello')">Call Me</button>
<button onclick="login">Login</button>
<br/><br/>
<input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup"/>
<br/><br/>
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="event keydown"/>
<br/><br/>
<input type="text" #box2 (blur)="getData(box2.value)" placeholder="event blur"/>
<br/><br/>
<input type="text" #box3 (input)="getData(box3.value)" placeholder="event input"/>

<h1 (mouseover)="getData('over')">SignUp</h1>
<h1 (mouseleave)="getData('leave')">login</h1> -->

<!-- <h1 class="heading">{{title}}</h1> -->

<!-- <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group> -->
  