<!-- <h1>Hello</h1> -->
<!-- <app-login></app-login> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-root></app-root> -->
<!-- <h1>Hello</h1>
<h2>hi</h2> -->
<!-- <h1>{{title}}</h1> -->

<!-- <h1>Get Input Value</h1>
<input type="text" placeholder="Enter Name" name="name"/> -->
<!-- <app-property-binding-com></app-property-binding-com> -->
<!-- <app-if-else-com></app-if-else-com> -->
<!-- <app-else-if-com></app-else-if-com> -->
<!-- <app-else-id-com></app-else-id-com> -->
<!-- <app-switch-case-com></app-switch-case-com> -->
<!-- <app-for-loop-com></app-for-loop-com> -->
<!-- <app-nested-loop-com></app-nested-loop-com> -->
<!-- <app-style-binding-com></app-style-binding-com> -->
<!-- <app-header-com></app-header-com> -->
<!-- <app-toggle-com></app-toggle-com> -->
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
<app-todo-list-com></app-todo-list-com>
<!-- <ol>
    <li>
      <mat-form-field>
        <mat-label>What's your name?</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
    </li>
    <li>
<button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="animal">
You chose: <em>{{animal}}</em>
</li>
</ol> -->